@{
    ViewBag.Title = "Home Page";
}

@{
    int counter = 0;
    int counter2 = 0;
    int amountFolders = 0;
}
@foreach (var folder in ViewBag.folders)
{
    amountFolders++;
}
@foreach (var folder in ViewBag.folders)
{
    if (counter == 0)
    {
        @:<div class="row">
    }
    <div class="col-md-3 text-center">

        <div class="katelog">
            <a href="@Url.Action("Katalog","Home", new { katalog = folder})">
                <img style="width: 100%" src="~/Content/Uploads/@folder/1.jpg" alt="@folder" />
                <h4 style="color:white; font-weight: bold;">@folder</h4>
            </a>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                <a style="color: #da1f43; font-weight: bold; display: inline-block;" href="@Url.Action("Delete", "Uploader", new { katalog = folder })" onclick ="return confirm('Er du sikker på at du vil slette dette katalog: <@folder> ?');">Slet</a>
            }
        </div>

    </div>
    counter++;
    counter2++;
    if (counter == 4)
    {
        @:</div>
        counter = 0;
    }

    if (counter != 4 && counter2 == amountFolders)
    {
        @:</div>
    }
}
